{
	"version": 2.0,
	"project": "ConfigAsCode-${repo}-${branch}",
	"team": "//CxServer//TeamA",
	"host": "http://win-jsvverpekvb",
	"credential": {
		"type": "plain",
		"username": "Cxadmin",
		"password": "Cxadmin10$"
	},
	"sast": {
		"preset": "Error handling",
		"engineConfiguration": "",
		"incremental": "false",
		"forceScan": "true",
		"fileExcludes": "",
		"folderExcludes": ""
	},
	"cxFlow": {
		"application": "ApplicationFromConfigFile",
		"branches": [
			"develop",
			"master"
		],
		"contact" : "ConfigFileAdmin@cxflow.com",
		"emails": ["xxxx@checkmarx.com"],
		"bugTracker": "Email",
		"filters": {
			"severity": [
				"High",
				"Medium"
			]
		},
		"mail": {
			"host": "127.0.0.1",
			"port": "25",
			"username": "xxx",
			"password": "xxx",
			"cc": "ListOfEmails@cc.com",
			"notification": "true",
			"allow-empty-mail": "true"
		}
	}
}