{
	"version": 2.0,
	"project": "ConfigAsCode-${repo}-${branch}",
	"team": "/CxServer/TeamA",
	"host": "http://win-jsvverpekvb",
	"credential": {
		"type": "plain",
		"username": "Cxadmin",
		"password": "Cxadmin10$"
	},
	"sast": {
		"preset": "Error handling",
		"engineConfiguration": "",
		"incremental": "false",
		"forceScan": "true",
		"fileExcludes": "",
		"folderExcludes": ""
	},
	"additionalProperties" : {
		"cxFlow": {
			"application": "ApplicationFromConfigFile",
			"branches": [
					"develop",
					"master"
					],
			"emails": ["xxxxEmailFromConfigAsCode@checkmarx.com"],
			"bugTracker": "Email",
			"filters": {
			"severity": [
				"High",
				"Medium"
				]
			}

		}
	}
}